body{
    font-family: "Roboto Condensed", sans-serif; /*font from your website :)*/
    text-align: center;
}

h1{
    margin: 2% auto 2%;
    border-bottom: 3px solid lightskyblue;
    width: 30%;
    padding-bottom: 1%;
}

a, button{
    background-color: lightskyblue;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    color: black;
}
